<html>
    <body>
        <h3>Hola ${usuario.fullname}, 

        <div>
            Tiene pendiente la visita para tasación agendada el ${solicitud.fechaTasacion} en ${solicitud.bien.direccion} solicitada por el cliente ${solicitud.cliente.razonSocial}.
        </div>
    </body>
</html>